<input type="text" [(ngModel)]="searchText" (ngModelChange)="applyFilter()" placeholder="Buscar..." />

<table>
  <thead>
    <tr>
      <th>Track Name</th>
      <th>Artist(s)</th>
      <th>Streams</th>
      <th>BPM</th>
      <th>Danceability (%)</th>
      <th>Energy (%)</th>
      <!-- Agrega más encabezados según sea necesario -->
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let datum of data">
      <td>{{ datum.track_name }}</td>
      <td>{{ datum['artist(s)_name'] }}</td>
      <td>{{ datum.streams }}</td>
      <td>{{ datum.bpm }}</td>
      <td>{{ datum['danceability_%'] }}</td>
      <td>{{ datum['energy_%'] }}</td>
      <!-- Agrega más celdas según sea necesario -->
    </tr>
  </tbody>
</table>
