
    <!-- Hero Start -->
    <div class="container-fluid bg-primary hero-header mb-5">
        <div class="container">
            <div class="row g-5 align-items-center">
                <div class="col-lg-6 text-center text-lg-start">
                    <h3 class="fw-light text-white animated slideInRight"></h3>
                    <h1 class="display-4 text-white animated slideInRight">Tu universo musical en un solo lugar <span class="fw-light text-dark"></span></h1>
                    <p class="text-white mb-4 animated slideInRight">Descubre un mundo de melodías y ritmos en SonicFusion, 
                        la plataforma definitiva para los amantes de la música. Explora, crea listas de reproducción, 
                        sumérgete en géneros diversos y conecta con otros apasionados de la música. Desde clásicos atemporales hasta los últimos éxitos, 
                        encuentra tu sonido perfecto en un espacio diseñado para tu pasión por la música.</p>
                    <a href="" class="btn btn-dark py-2 px-4 me-3 animated slideInRight">Suscribete</a>
                    <a href="" class="btn btn-outline-dark py-2 px-4 animated slideInRight">Ya soy Premium</a>
                </div>
                <div class="col-lg-6">
                    <img class="img-fluid animated pulse infinite" src="assets/img/headphones.gif" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- Hero End -->


    <!-- Feature Start -->
    <div class="container-fluid py-5">
        <div class="container">
            <div class="row g-4">
                <div class="col-lg-4 wow fadeIn" data-wow-delay="0.1s">
                    <div class="feature-item position-relative bg-primary text-center p-3">
                        <div class="border py-5 px-3">
                            <img src="assets/img/rock.png" width="75" height="75">
                            <h5 class="text-white mb-0">Rock</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 wow fadeIn" data-wow-delay="0.3s">
                    <div class="feature-item position-relative bg-primary text-center p-3">
                        <div class="border py-5 px-3">
                            <img src="assets/img/pop.png" width="75" height="75">
                            <h5 class="text-white mb-0">Pop</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 wow fadeIn" data-wow-delay="0.5s">
                    <div class="feature-item position-relative bg-primary text-center p-3">
                        <div class="border py-5 px-3">
                            <img src="assets/img/urbano.png" width="75" height="75">
                            <h5 class="text-white mb-0">Urbano</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Feature End -->


    <!-- About Start -->
    <div class="container-fluid py-5">
        <div class="container">
            <div class="row g-5 align-items-center">
                <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                    <img class="img-fluid animated pulse infinite" src="assets/img/rock.gif">
                </div>
                <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                    <h1 class="text-primary mb-4">Un viaje musical ilimitado</h1>
                    <p class="mb-4">Premium lleva tu experiencia musical al siguiente nivel. Disfruta de acceso exclusivo a contenido sin anuncios, calidad de audio superior y funciones avanzadas de personalización.</p>
                    <p class="mb-4">Descubre lanzamientos anticipados, accede a bibliotecas extensas y disfruta de la música sin interrupciones. Además, con características únicas como descargas offline y recomendaciones personalizadas, 
                        Melodiverse Premium está diseñado para los verdaderos melómanos que buscan una experiencia musical inigualable.</p>
                    <a class="btn btn-primary py-2 px-4" href="">Suscribete</a>
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->


    <!-- Deal Start -->
    <div class="container-fluid deal bg-primary my-5 py-5">
        <div class="container py-5">
            <div class="row g-5 align-items-center">
                <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                    <img class="img-fluid animated pulse infinite" src="assets/img/enjoy.gif">
                </div>
                <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                    <div class="bg-white text-center p-4">
                        <div class="border p-4">
                            <p class="mb-2">Deal</p>
                            <h2 class="fw-bold text-uppercase mb-4">Promocion Premium</h2>
                            <h1 class="display-4 text-primary mb-4">$8.99</h1>
                            <h5>Plan Familiar</h5>
                            <p class="mb-4">Conecta a toda tu familia a un universo musical.</p>
                            <div class="row g-0 cdt mb-4">
                                <div class="col-3">
                                    <h1 class="display-6" id="cdt-days"></h1>
                                </div>
                                <div class="col-3">
                                    <h1 class="display-6" id="cdt-hours"></h1>
                                </div>
                                <div class="col-3">
                                    <h1 class="display-6" id="cdt-minutes"></h1>
                                </div>
                                <div class="col-3">
                                    <h1 class="display-6" id="cdt-seconds"></h1>
                                </div>
                            </div>
                            <a class="btn btn-primary py-2 px-4" href="">Suscribete</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Deal End -->


    <!-- Feature Start -->
    <div class="container-fluid py-5">
        <div class="container">
            <div class="mx-auto text-center wow fadeIn" data-wow-delay="0.1s" style="max-width: 600px;">
                <h1 class="text-primary mb-3">Eleva tu experiencia musical</h1>
                <p class="mb-5">Disfruta de calidad de audio superior y descargas ilimitadas para escuchar tus canciones favoritas en cualquier momento y lugar. Descubre nueva música antes que nadie, obtén recomendaciones precisas y personalizadas, y moldea tu experiencia musical con funciones avanzadas de personalización</p>
            </div>
            <div class="row g-4 align-items-center">
                <div class="col-lg-4 wow fadeIn" data-wow-delay="0.3s">
                    <div class="row g-5">
                        <div class="col-12 d-flex">
                            <div class="btn-square rounded-circle border flex-shrink-0"
                                style="width: 80px; height: 80px;">
                                <i class="fa fa-check fa-2x text-primary"></i>
                            </div>
                            <div class="ps-3">
                                <h5>Sin anuncios disruptivos</h5>
                                <hr class="w-25 bg-primary my-2">
                                <span>Disfruta de la música sin interrupciones publicitarias.</span>
                            </div>
                        </div>
                        <div class="col-12 d-flex">
                            <div class="btn-square rounded-circle border flex-shrink-0"
                                style="width: 80px; height: 80px;">
                                <i class="fa fa-check fa-2x text-primary"></i>
                            </div>
                            <div class="ps-3">
                                <h5>Calidad de audio superior</h5>
                                <hr class="w-25 bg-primary my-2">
                                <span>Experimenta la música en su forma más pura.</span>
                            </div>
                        </div>
                        <div class="col-12 d-flex">
                            <div class="btn-square rounded-circle border flex-shrink-0"
                                style="width: 80px; height: 80px;">
                                <i class="fa fa-check fa-2x text-primary"></i>
                            </div>
                            <div class="ps-3">
                                <h5>Descargas offline ilimitadas</h5>
                                <hr class="w-25 bg-primary my-2">
                                <span>Lleva tu música a todas partes.</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 wow fadeIn" data-wow-delay="0.1s">
                    <img class="img-fluid animated pulse infinite" src="assets/img/sound.gif">
                </div>
                <div class="col-lg-4 wow fadeIn" data-wow-delay="0.5s">
                    <div class="row g-5">
                        <div class="col-12 d-flex">
                            <div class="btn-square rounded-circle border flex-shrink-0"
                                style="width: 80px; height: 80px;">
                                <i class="fa fa-check fa-2x text-primary"></i>
                            </div>
                            <div class="ps-3">
                                <h5>Recomendaciones personalizadas avanzadas</h5>
                                <hr class="w-25 bg-primary my-2">
                                <span>Descubre música nueva perfectamente adaptada a tus gustos.</span>
                            </div>
                        </div>
                        <div class="col-12 d-flex">
                            <div class="btn-square rounded-circle border flex-shrink-0"
                                style="width: 80px; height: 80px;">
                                <i class="fa fa-check fa-2x text-primary"></i>
                            </div>
                            <div class="ps-3">
                                <h5>Acceso anticipado a lanzamientos exclusivos</h5>
                                <hr class="w-25 bg-primary my-2">
                                <span>Sé el primero en descubrir nueva música.</span>
                            </div>
                        </div>
                        <div class="col-12 d-flex">
                            <div class="btn-square rounded-circle border flex-shrink-0"
                                style="width: 80px; height: 80px;">
                                <i class="fa fa-check fa-2x text-primary"></i>
                            </div>
                            <div class="ps-3">
                                <h5>Funciones de personalización avanzada</h5>
                                <hr class="w-25 bg-primary my-2">
                                <span>Moldea tu experiencia musical a tu gusto.</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Feature End -->


    <!-- How To Use Start -->
    
    <!-- How To Use End -->


    <!-- Product Start -->
    <div class="container-fluid py-5">
        <div class="container">
            <div class="mx-auto text-center wow fadeIn" data-wow-delay="0.1s" style="max-width: 600px;">
                <h1 class="text-primary mb-3">Planes para cada melómano</h1>
                <p class="mb-5">Ofrecemos una variedad de planes diseñados para adaptarse a tu pasión por la música.</p>
            </div>
            <div class="row g-4">
                <div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.1s">
                    <div class="product-item text-center border h-100 p-4">
                        <img class="img-fluid mb-4" src="assets/img/familiar.png" alt="">
                        <div class="mb-2">
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                            <small>(99)</small>
                        </div>
                        <a href="" class="h6 d-inline-block mb-2">Plan Familiar</a>
                        <h5 class="text-primary mb-3">$8.99</h5>
                        <a href="" class="btn btn-outline-primary px-3">Add To Cart</a>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.3s">
                    <div class="product-item text-center border h-100 p-4">
                        <img class="img-fluid mb-4" src="assets/img/couple.png" alt="">
                        <div class="mb-2">
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                            <small>(99)</small>
                        </div>
                        <a href="" class="h6 d-inline-block mb-2">Plan Parejas</a>
                        <h5 class="text-primary mb-3">$4.99</h5>
                        <a href="" class="btn btn-outline-primary px-3">Add To Cart</a>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.5s">
                    <div class="product-item text-center border h-100 p-4">
                        <img class="img-fluid mb-4" src="assets/img/student.png" alt="">
                        <div class="mb-2">
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                            <small>(99)</small>
                        </div>
                        <a href="" class="h6 d-inline-block mb-2">Plan Estudiante</a>
                        <h5 class="text-primary mb-3">$1.99</h5>
                        <a href="" class="btn btn-outline-primary px-3">Add To Cart</a>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.7s">
                    <div class="product-item text-center border h-100 p-4">
                        <img class="img-fluid mb-4" src="assets/img/single.png" alt="">
                        <div class="mb-2">
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                            <small>(99)</small>
                        </div>
                        <a href="" class="h6 d-inline-block mb-2">Plan Personal</a>
                        <h5 class="text-primary mb-3">$2.99</h5>
                        <a href="" class="btn btn-outline-primary px-3">Add To Cart</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Product End -->


    <!-- Testimonial Start -->
    
    <!-- Testimonial End -->


    <!-- Blog Start -->
    
    <!-- Blog End -->


    <!-- Newsletter Start -->
    <div class="container-fluid newsletter bg-primary py-5 my-5">
        <div class="container py-5">
            <div class="mx-auto text-center wow fadeIn" data-wow-delay="0.1s" style="max-width: 600px;">
                <h1 class="text-white mb-3">Registrate ahora</h1>
                <p class="text-white mb-4">Suscribete ahora para obtener un 10% de descuento adicional en cualquiera de nuestros planes.</p>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-7 wow fadeIn" data-wow-delay="0.5s">
                    <div class="position-relative w-100 mt-3 mb-2">
                        <input class="form-control w-100 py-4 ps-4 pe-5" type="text" placeholder="Enter Your Email"
                            style="height: 48px;">
                        <button type="button" class="btn shadow-none position-absolute top-0 end-0 mt-1 me-2"><i
                                class="fa fa-paper-plane text-white fs-4"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Newsletter End -->
 
